STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
# ^ In production: generate with `openssl rand -hex 64`
COOKIE_SECRET=supersecret
# ^ In production: generate with `openssl rand -hex 64`
DATABASE_URL=
DB_NAME=medusa-backend
# Notification provider (dev: uses local logger; prod: SendGrid)
# SENDGRID_API_KEY=SG....
# SENDGRID_FROM=noreply@indiagrocers.co.uk
